<!-- header.html -->
<header>
    <div class="header-content">
        <span class="logo">Trang Quản Lí</span>
        <nav class="nav-links">
            <a href="{% url 'manager_home' %}">Trang Chủ</a>
            <a href="{% url 'staff_list' %}">Quản lí Nhân Viên </a>
            <a href="{% url 'tour_list' %}">Quản lí Tours </a>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="account-link">Tài khoản</a>
            {% else %}
                <a href="{% url 'login' %}">Đăng Nhập</a>
                <a href="{% url 'register' %}">Đăng Ký</a>
            {% endif %}
        </nav>
    </div>
</header>
