{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ Khách Hàng</title>
    <link rel="stylesheet" href="{% static 'css/stylehomes.css' %}">
    <link rel="stylesheet" href="{% static 'css/staff_tour_list.css' %}">
</head>
<body>

    <!-- Nhúng file header.html vào đây -->
    {% include 'Staff/header_staff.html' %}
    
    <main>
        <h1>Danh Sách Tour Khách</h1>
        
        <div class="search-container">
            <form method="get">
                <input type="text" name="q" placeholder="Tìm kiếm tour..." class="search-input">
                <button type="submit" class="search-button">Tìm kiếm</button>
            </form>
        </div>

        <div class="tour-list">
            {% for tour in tours %}
                <div class="tour-card">
                    <h3>{{ tour.name }}</h3>
                    <p>Giá: {{ tour.price }}</p>
                    <p>Ngày bắt đầu: {{ tour.start_date }}</p>
                    
                </div>
            {% endfor %}
        </div>
    </main>

</body>
</html>
